.container-fluid{
    padding: 20px;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

td{
    padding: 0.4rem 0.5rem;
    font-size: 0.85rem;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button:hover i {
    color: #495057;
}

.icon-button i {
    font-size: 0.9rem;
}

tr.hover-row.selected {
    background-color: #f1f1f1;
    outline: 2px solid #0d6efd;
}

.nav-tabs .nav-link.active {
    background-color: #2b2d30; /* 약간 더 진한 회색 */
    color: #f2f3f5;       /* 검정 텍스트 */
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link:hover{
    color: #2b2d30;

}

ul, li {
    list-style: none;
    color: #495057;
    margin-bottom: 5px;
}