<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}"
      th:with="breadcrumbLevel1='발주 관리', breadcrumbCurrent='구매 발주서 등록'">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="/css/supply/list.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="spPorder">
    <div class="container-fluid">
        <div class="container" style="max-width: 1000px; margin-left: 0;">
            <div class="d-flex align-items-center mb-3">
                <h4 class="mb-0 me-2">구매 발주서 등록</h4>
                <div class="tooltip-wrap">
                    <i class="bi bi-question-circle-fill fs-6 text-secondary" role="button"></i>
                    <span class="tooltip-text">생산 계획에 따른 구매 발주서를 등록합니다. ※ 구매 발주서를 등록하기 위해 먼저 해당하는 조달 계획을 등록해주세요.</span>
                </div>
            </div>
            <form>
                <div class="row g-2 align-items-end">
                    <div class="col-md-2">
                        <label for="pName" class="form-label small">상품명</label>
                        <select class="form-select form-select-sm searchSelect" id="pName">
                            <option value="" selected>선택</option>
                            <th:block th:each="product : ${productList}">
                                <option th:value="${product.pName}" th:text="${product.pName}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="startDate" class="form-label small">생산 시작일</label>
                        <input type="date" class="form-control form-control-sm" id="startDate">
                    </div>
                    <div class="col-md-2">
                        <label for="endDate" class="form-label small">생산 종료일</label>
                        <input type="date" class="form-control form-control-sm" id="endDate">
                    </div>
                    <div class="col-md-2">
                        <label for="uId" class="form-label small">사원번호</label>
                        <select class="form-select form-select-sm searchSelect" id="uId">
                            <option value="" selected>선택</option>
                            <th:block th:each="pp : ${userList}">
                                <option th:value="${pp.getUId()}" th:text="${pp.getUId()}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-md-2 d-flex align-items-end gap-2">
                        <button type="button" class="btn btn-dark btn-sm w-100">적용</button>
                        <button type="button" class="clearBtn btn btn-outline-dark btn-sm w-100" title="필터 초기화">초기화
                        </button>
                    </div>
                </div>
            </form>
            <!-- 2줄: 검색어 입력 -->
            <form>
                <div class="row g-2 mt-2">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text bg-white"><i class="fas fa-search text-secondary"></i></span>
                            <input type="text" class="form-control" id="keyword" placeholder="검색어 입력">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="container" style="max-width: 1600px; margin-left: 0;">
            <div class="d-flex justify-content-end mb-2">
                <form id="pageSizeForm">
                    <div class="col-auto">
                        <select class="form-select form-select-sm" title="정렬 갯수 필터" name="size"
                                onchange="this.form.submit()">
                            <option value="10" th:selected="${pageRequestDTO.size == 10}">10개씩</option>
                            <option value="20" th:selected="${pageRequestDTO.size == 20}">20개씩</option>
                            <option value="30" th:selected="${pageRequestDTO.size == 30}">30개씩</option>
                            <option value="50" th:selected="${pageRequestDTO.size == 50}">50개씩</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="bg-white rounded">
                <div style="max-height: 450px; overflow-y: auto;">
                    <table class="table table-sm table-bordered table-hover align-middle fs-6">
                        <thead class="table-light small text-center">
                        <tr>
                            <th>조달 계획 코드</th>
                            <th>리드 타임</th>
                            <th>생산 상품명</th>
                            <th>공급 업체</th>
                            <th style="width: 350px;">자재명</th>
                            <th>조달 수량</th>
                            <th>요구 수량</th>
                            <th>조달 납기일</th>
                            <th>등록일</th>
                            <th>작성자</th>
                            <th>상태</th>
                            <th>발주 등록</th>
                        </tr>
                        </thead>
                        <tbody id="plansTable" th:with="link = ${pageRequestDTO.getLink()}">
                        <tr th:if="${#lists.isEmpty(responseDTO.dtoList)}">
                            <td colspan="10" class="text-center" style="padding: 20px 0;">등록된 조달 계획이 없습니다.
                                필터 조건을 다시 확인하거나 검색어를 변경하여 재검색해 주세요.
                            </td>
                        </tr>
                        <tr th:each="dto:${responseDTO.dtoList}" class="hover-row" style="position: relative;" >
                            <td th:text="${dto.getDppCode()}"></td>
                            <td th:text="${dto.getLeadTime()}"></td>
                            <td th:text="${dto.getPName()}"></td>
                            <td th:text="${dto.getSName()}"></td>
                            <td th:text="${dto.getMName()}"></td>
                            <td th:text="${dto.getDppNum()}"></td>
                            <td th:text="${dto.getDppRequireNum()}"></td>
                            <td th:text="${#temporals.format(dto.getDppDate(), 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(dto.getDppRegDate(), 'yyyy-MM-dd')}"></td>
                            <td th:text="${dto.getUId()}"></td>
                            <input type="hidden" class="mPerPriceHidden" th:value="${dto.getMPerPrice()}">
                            <td class="CheckState"
                                th:data-state="${dto.getDppState() != null ? dto.getDppState() : 'UNKNOWN'}"></td>
                            <td>
                                <button type="button" class="icon-button openOrderByModal">
                                    <i class="bi bi-pencil fs-6"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-start">
                <div class="d-flex justify-content-center">
                    <ul class="pagination flex-wrap">
                        <li class="page-item" th:if="${responseDTO.prev}">
                            <a class="page-link" th:data-num="${responseDTO.start -1}"><</a>
                        </li>

                        <th:block th:each="i: ${#numbers.sequence(responseDTO.start,responseDTO.end)}">
                            <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                            </li>
                        </th:block>

                        <li class="page-item" th:if="${responseDTO.next}">
                            <a class="page-link" th:data-num="${responseDTO.end +1}">></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="orderByModal" tabindex="-1" aria-labelledby="orderByModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="margin-left: 10px">
                        <h5 class="mb-0 me-2">구매 발주서 등록</h5>
                        <small class="text-muted mt-2 d-block"><span class="text-danger">*</span> 필수 입력 항목입니다</small>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="card p-3">
                            <p class="text-muted small mb-2">
                                생산 계획 코드 : <strong><span id="dppCodeInput"></span></strong>&nbsp;&nbsp;
                                생산 상품명 : <strong><span id="pNameInput"></span></strong>&nbsp;&nbsp;
                                자재명 : <strong><span id="mNameInput"></span></strong>
                            </p>

                            <br>
                            <input type="hidden" id="selectedPlanCode" name="planCode">
                            <ul class="nav nav-tabs mb-3" id="mainCategoryTabs" role="tablist">
                                <li class="nav-item">
                                    <button class="nav-link active" id="wheel-tab" data-bs-toggle="tab"
                                            data-bs-target="#wheel" type="button" role="tab">세부 계획
                                    </button>
                                </li>
                            </ul>
                            <form method="post" id="orderByForm" th:action="@{/orderBy/register}">
                                <input type="hidden" name="uId" th:value="${userBy.getUId()}">
                                <div class="tab-content" id="tabContent">
                                    <!-- 세부 정보 -->
                                    <div class="tab-pane fade show active" id="wheel" role="tabpanel">
                                        <div class="row g-3 mb-3">
                                            <div class="d-flex flex-nowrap align-items-end gap-2 overflow-visible">
                                                <input type="hidden" value="">
                                                <div style="width: 120px;">
                                                    <label class="form-label small">조달 수량</label><br>
                                                    <input type="text" class="form-control form-control-sm dppNumInput"
                                                           readonly>
                                                </div>
                                                <div style="width: 120px;">
                                                    <label class="form-label small">요구 수량</label><br>
                                                    <input type="text" class="form-control form-control-sm rqNumInput"
                                                           readonly>
                                                </div>
                                                <div style="width: 120px;">
                                                    <label class="form-label small">개당 가격</label><br>
                                                    <input type="text" class="form-control form-control-sm mPerPrice"
                                                           readonly>
                                                </div>
                                                <div style="width: 100px;">
                                                    <label class="form-label small"><span class="text-danger">*</span> 주문 수량</label>
                                                    <input type="number" id="orderInput"
                                                           class="form-control form-control-sm">
                                                </div>
                                                <div style="width: 100px;">
                                                    <label class="form-label small"><span class="text-danger">*</span> 총 금액</label>
                                                    <input type="number" id="totalPrice"
                                                           class="form-control form-control-sm" readonly>
                                                </div>
                                                <div style="width: 150px;">
                                                    <label class="form-label small"><span class="text-danger">*</span> 희망 납기일</label>
                                                    <input type="date" class="form-control form-control-sm">
                                                </div>
                                                <div style="width: 300px;">
                                                    <label class="form-label small"><span class="text-danger">*</span> 비고</label>
                                                    <input type="text" class="form-control form-control-sm" id="oRemarks" placeholder="비고 기입">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label class="form-label"><span class="text-danger">*</span> 발주 주소</label>
                                                <input type="text" id="orderAddress" class="form-control form-control-sm" required>
                                            </div>
                                            <div class="col-12">
                                                <label class="form-label"><span class="text-danger">*</span> 결제 일자</label>
                                                <input type="date" id="payDate" class="form-control form-control-sm" required>
                                            </div>
                                            <div class="col-12">
                                                <label class="form-label d-block"><span class="text-danger">*</span> 결제 방법</label>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label small"><input type="radio" name="payMethods" value="계좌이체" class="form-check-input">계좌이체(입금자명 : DG전동)</label>
                                                    <br>
                                                    <label class="form-check-label small"><input type="radio" name="payMethods" value="신용카드" class="form-check-input">신용카드결제</label>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label class="form-label d-block"><span class="text-danger">*</span> 증빙 서류 요청</label>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label small"><input type="radio" name="payDocuments" value="세금계산서" class="form-check-input">세금계산서</label>
                                                    <br>
                                                    <label class="form-check-label small"><input type="radio" name="payDocuments" value="현금영수증" class="form-check-input">현금영수증</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width: 100px;" class="d-flex">
                                            <button type="button" class="btn btn-dark btn-sm w-100"
                                                    onclick="addOrderBy(this)">추가
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="mt-4">
                                    <table class="table table-sm table-bordered table-hover align-middle fs-6"
                                           style="table-layout: fixed; width: 100%;">
                                        <thead class="table-light small text-center">
                                        <tr>
                                            <th>발주 주문 수량</th>
                                            <th>총 금액</th>
                                            <th>예상 납기일</th>
                                            <th>비고</th>
                                            <th>삭제</th>
                                            <th>PDF</th>
                                        </tr>
                                        </thead>
                                        <!--테이블 생성-->
                                        <tbody id="orderByBody">
                                        </tbody>
                                    </table>
                                    <!--보내는 값-->
                                    <table id="dppTable">
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <div class="row justify-content-center g-2 align-items-center mb-2">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-secondary btn-sm px-3"
                                                onclick="resetView()">취소
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-sm px-3">일괄 등록</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/orderBy/orderByRegister.js}"></script>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if (target.tagName !== 'A') {
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

        formObj.submit()
    }, false)

    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        self.location = '/orderBy/orderByRegister'
    }, false)
</script>